

body{
background-color: #2f3035;
background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(faaaaad.jpg);
background-size: cover;
background-repeat:no-repeat;
background-position: center;
}

.container{
/*width: 1024px;*/
margin-left: auto;
margin-right: auto;    
}

header{
height:118px;
margin-left: auto;
margin-right: auto;    
text-align: center;
}

header img{
height: 100px;
width: 140px;    
}

nav{
background-color: rgba(0, 0, 0, 0.338);
width: 100%;
text-align: center;
font-weight: bolder;
height: 40px; 
margin-left: auto;
margin-right: auto;
padding-top: 15px;
display: flexbox;
transition: ease-in;
}

nav a{
font-size: 23px;
text-decoration: none;
padding-left: 20px;
padding-right: 20px;    
}

main{
height: 400px;
margin-left: auto;
margin-right: auto;
padding-top: 80px;
padding-left: 240px;
padding-right: 240px;    
}

footer{
background-color: rgba(0, 0, 0, 0.497);
background-size: cover;
text-align: center;
padding-top: 30px;
padding-bottom: 30px;  
}

h1{
font-size: 84px;
color: white;
font-family: Arial, Helvetica, sans-serif;    
text-align: center;
}

p{
font-size: 18px;
color: white;
font-family: Arial, Helvetica, sans-serif;    
text-align: center;
font-weight: bolder;
}

main{
    text-align: center;
}

a{
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;    
color: white;
text-align: right;
}
